// MOBILE //

.logo--link {
  font-style: normal;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000;
  display: block;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .logo--link {
    font-size: 24px;
    line-height: 28px;
  }
}

// DESKTOP//
@media screen and (min-width: 1200px) {
  .logo--link {
    font-size: 26px;
    line-height: 31px;
  }
}
