.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.benefits {
  margin-top: -30px;
}

@media screen and (min-width: 768px) {
  .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.benefits__item {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
    flex-basis: calc(100% / 4 - 30px);
  }
}

.benefits__description {
  line-height: 1.71;
}

.benefits__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content--list {
  display: flex;
}

.text--content:not(:last-child) {
  margin-right: 30px;
}

.service__icon {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.text__title {
  color: #212121;
  margin: 0px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 16px;
}

.text {
  margin: 0px;
  letter-spacing: 0.03em;
  line-height: 24px;
  color: #757575;
}
