/* FIFTH SECTION  */

.customers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  color: var(--social-mail-icons--normal-color);
}

.customers__containers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid var(--social-icons--normal-color);
  border-radius: 4px;

  &:hover,
  &:focus {
    color: var(--social-icons--background-color);
    border: 1px solid var(--social-icons--background-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .customers__containers {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .customers__containers {
    width: 170px;
    height: 92px;
  }
}
