/* FIRST SECTION */

.first-section {
  width: 480px;
  background: var(--dark-gray-section-color);
  text-align: center;
  min-height: 100%;
  background-image: linear-gradient(0deg, #2f303a66, rgba(47, 48, 58, 0.4)),
    url("../images/resized/hero-img-m.jpg");
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    image-set("../images/resized/hero-img-m.jpg" 1x, "../images/resized/hero-img-m@2x.jpg" 2x);
  background-repeat: no-repeat;
}

@media screen and (min-width: $tablet-breakpoint) {
  .first-section {
    width: 768px;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      image-set("../images/resized/hero-img-t.jpg" 1x, "../images/resized/hero-img-t@2x.jpg" 2x);
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .first-section {
    width: 1600px;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      image-set("../images/resized/hero-img-d.jpg" 1x, "../images/resized/hero-img-d@2x.jpg" 2x);
  }
}
