/* SECOND SECTION */

.second-section {
  color: var(--second-section-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.second-section-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray-section-color);
  width: 450px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantage__title {
  color: #212121;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage__description {
  display: block;
  width: 450px;
}

@media screen and (min-width: $tablet-breakpoint) {
  .advantage {
    width: 354px;
    height: 120px;
  }
  .advantage__title {
    text-align: left;
  }
  .advantage__description {
    display: block;
    width: 354px;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .advantage {
    width: 270px;
    height: 120px;
  }
  .advantage__title {
    text-align: left;
  }
  .advantage__description {
    display: block;
    width: 270px;
  }
}
